apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql-deployment
  namespace: czindevops
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mysql:8.0
          ports:
            - containerPort: 3306
          env:
            - name: MYSQL_ROOT_PASSWORD
              value: rootpassword
            - name: MYSQL_DATABASE
              value: mydb
            - name: MYSQL_USER
              value: appuser
            - name: MYSQL_PASSWORD
              value: apppassword
          volumeMounts:
            - name: init-volume
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: init-volume
          configMap:
            name: mysql-init
